/*Overrides for Tailwind CSS */
/* Row Tables */
table.dataTable tbody tr {
    color: #000;
}
table.dataTable.display tbody tr {
    background-color: #f3f5f6;
    border-top-width: 2px;
}
/*Row Hover*/
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;
}

/* Search */
.dataTables_wrapper {
    color: #000;
}
.dataTables_wrapper .dataTables_filter:active input {
    border: 1px solid #aaa !important;
}

.dataTables_wrapper .dataTables_filter input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dataTables_wrapper .dataTables_info {
    color: #000 !important;
    font-size: 14px;
    font-style: italic;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0.25rem;
    border: none !important;
}



/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 0.25rem;
    color: #fff !important;
    background: #3D8D7A !important;
    border: none !important;
}
/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    border-radius: 0.25rem;
    background: #3D8D7A !important;
    border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    color: #fff !important;
    border-radius: 0.25rem;
    background: #3D8D7A !important;
    border: none !important;
}
/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #3D8D7A !important;
}
